---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  title?: string;
}

const { title = "KEMEKO - 一場有溫度的未來對話" } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-TW">
<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    </head>
<body>
    <Header />
    
    <div data-scroll-container>
        <slot />

        <Footer />
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script>
            var swiper = new Swiper('.swiper-container', {
                loop: true,
                slidesPerView: 'auto',
                spaceBetween: 0, // 圖片之間沒有間距
                autoplay: {
                    delay: 2000, // 加快輪播速度
                    disableOnInteraction: false,
                },
            });
        </script>
    </body>
</html>